header .hero-unit {
   color: #f5f5f5;
   background: #222;
   border-radius: 0;
}

footer {
   padding: 70px 0;
   margin-top: 70px;
   border-top: 1px solid #e5e5e5;
   background-color: #f5f5f5;
}

footer p {
   margin-bottom: 0;
   color: #777;
}

.footer-links {
   margin: 10px 0px;
}

.footer-links li {
   display: inline;
   margin-right: 10px;
}

td {
   padding-right: 30px;
}
